@page
@model RazorPagesMovie.Pages.Pacotes.CartaoModel
@{
}
<div class="d-flex justify-content-center">
    <table border='0' class="pao">
        <tr class="pao3">
            <td style="text-align: center">
                Pergunta
                <textarea class="pao2" cols="30" rows="4">Qual o valor de Pi?</textarea>
            </td>
        </tr>
    </table>
</div>