@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap');
body {
    font-family: 'Asap', 'sans-serif';
    background-color: #f7f6f6;
}

ul {
    list-style:none;
    display: flex;
}

li{
    margin: 0 15px;
}
nav{
    display: flex;
    justify-content: space-around;
}
header {
    background-color:#2fc9ee;
}
.cara {
    display: inline-block;
    width: 90px;
}