@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap');
body {
    font-family: 'Asap', 'sans-serif';
    background-color: #f7f6f6;
}

ul {
    list-style:none;
    display: flex;
}

li{
    margin: 0 15px;
}
nav{
    display: flex;
    justify-content: space-around;
}
header {
    background-color:#2fc9ee;
}
.button-cor {
    background-color: #2fc9ee;
    border-color: #2fc9ee;
}
.mais {
    margin-right: 12px;
    width: 17px;
    margin-top: -5px;
}
.pro {
    height: 10px;
    width: 300px;
    margin-top: 50px;
}
.pao {
    height: 10px;
    width: 220px;
    border-color: white;
    background-color: #2fc9ee;
    border-radius: 5px;
}


.pao2 {
    resize: none;
    text-align: center;
    padding-top: 10px;
}
.pao3 {
    background-color: #2fc9ee;
    width: 40px;
    height: 30px;
    color: white;
}   