@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <img src="https://i.imgur.com/lmuKVHv.png" alt="Icone Gostoso" />
    <h3 class="card-title mt-3 text-center"> Bem-Vindo(a) ao Recall </h3>
        <div class="container d-flex justify-content-center">
                <div class="w-75 p-3">
                    O Recall é o mais novo programa para gerenciamento de flashcards, com diversas funções, ele poderá te ajudar a se lembrar de qualquer coisa que necessite, e com um design simples e de fácil uso.
                    Você sabia? O Recall possui um app gratuito para android, baixe-o agora mesmo clicando no card abaixo
                </div>
        </div>
        </h1>
        <p>Esse link é <a href="https://i.imgur.com/gCww5DF.mp4">Video legal</a>.</p>
</div>
