@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}


<div class="container">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Acessar Conta</h4>
            <form>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> Nome </span>
                    </div>
                    <input name="nome" class="form-control" type="text">
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> Senha </span>
                    </div>
                    <input name="senha" class="form-control" type="password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Logar  </button>
                </div>
                <p class="text-center">Esqueceu a senha? <a href="">Clique Aqui</a> </p>
            </form>
        </article>

</div>