@page
@model RazorPagesMovie.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Criar Conta</h4>
        <form>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> Nome </span>
                </div>
                <input name="nome" class="form-control" type="text">
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> Sobrenome </span>
                </div>
                <input name="sobrenome" class="form-control" type="text">
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> Email </span>
                </div>
                <input name="email" class="form-control" type="email">
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> Senha </span>
                </div>
                <input name="senha" class="form-control" type="password">
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> Telefone </span>
                </div>
                <input name="senha" class="form-control" type="tel">
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> Data de Nascimento </span>
                </div>
                <input name="senha" class="form-control" type="date">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Criar Conta  </button>
            </div>
            <p class="text-center">Ja tem uma conta? <a asp-page="/Login">Login</a> </p>
        </form>
    </article>

</div>
